<%= partial :internal_base, { :title => "Change password" } %>
<%= partial :internal_links %>

<div class="header">Change your password</div>
<form action="" method="POST" enctype="multipart/form-data">
  <div class="brodetail">
    <div class="photo">
      <% unless photo(@bro).nil? %>
        <img src="<%= photo(@bro) %>" alt="<%= @bro[:name] %>" title="<%= @bro[:name] %>" ></img>
      <% else %>
        &nbsp;
      <% end %>
    </div>
    <div class="details">
      <div class="detail">New password:</div>
      <div class="item"><input type="password" name="new_password_1"></input></div>
      <div style="clear:both"></div>
      <div class="detail">Confirm password:</div>
      <div class="item"><input type="password" name="new_password_2"></input></div>
      <div style="clear:both"></div>
    </div>
  </div>
  <div style="clear:both"></div>

  <input style="display:block;margin:auto;width:50%;margin-top:15px;" type="submit" value="Change your password"></input>
</form>
<%= partial :internal_footer %>

