<%= partial :public_base, { :title => "MIT Chapter of Sigma Nu" } %>
<%= partial :public_links %>

<div class="subcontainer">
  <div id="sectionphoto" style="padding: 20px">
    <% if public_photo(@section[:title]) %>
      <img src="<%= public_photo(@section[:title]) %>"></img>
    <% else %>
      <% if @section[:title] == "rush" %>
      	<div style="width:350px;height:350px"><iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=28%2BFenway%2BStreet%2BBoston%2C%2BMA%2B02215&ie=UTF8&z=16&t=m&iwloc=near&output=embed"></iframe><br><table width="350" cellpadding="0" cellspacing="0" border="0"><tr><td align="left"><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=28%2BFenway%2BStreet%2BBoston%2C%2BMA%2B02215&ie=UTF8&z=16&t=m&iwloc=near">View Larger Map</a></small></td><td align="right"><small><a href="http://www.embedgooglemap.com">embed google map</a></small></td></tr></table></div> 
      <% else %>      
        &nbsp;
      <% end %>
    <% end %>
  </div>
  <div id="section">
    <%if @section[:title] != "rush" %>
    	<%= @section[:text] %>
    <%else %>
	<div id="rush_table">
	  <h2>Rush Events 2014</h2>
	  <div class="rush_contact">
	    Please do not hesitate to contact us at 
	    <h4> Call: <a href = 'mailto:acadams@mit.edu'>Anthony Adams</a> (618) 972-2488 or <a href='mailto:rjmadera@mit.edu'>Raul Madera</a> (845) 269-7986 </h4>
            <h4> Email: <a href='mailto:sn-commander@mit.edu'>SigmaNuBrothers</a> 
	    </h4>
	    just come by our house at 28 Fenway street, Boston, MA 02215. Look forward to seeing you all here.
	  </div>
          <div class="rush_details">
            <h3 style="text-align: center">
	     Saturday, 8/30/2014
	    </h3>
            <h4 class="rush_event_title">
	     1:15pm - Pool Tournament
            </h4>
            <div class="rush_event_desc">
	   Come shoot some pool with the gentlemen of Sigma Nu. Think you're good? You might just win yourself an iPad mini  
	    </div-->
            <h4 class="rush_event_title">
	     3:00pm - FIFA Tournament
            </h4>
            <div class="rush_event_desc">
	    Relive the epics plays of the 2014 World Cup with a classic Sigma Nu FIFA tournament. Come win some World Cup swag and prove you're better than Spain.
	    </div>
            <h4 class="rush_event_title">
	     6:00pm - Steak & Lobster Dinner
            </h4>
            <div class="rush_event_desc">
	    A rush classic!
	    </div>
            <h4 class="rush_event_title">
	     8:00pm - Bos-Ton of Ice Cream
            </h4>
            <div class="rush_event_desc">
	     More ice cream than you have time for. Come get some of Boston's best ice cream from none other than our local creamery, JP Licks!
	    </div>
            <h3 style="text-align: center">
	    Sunday, 8/31/2014
	    </h3>
            <h4 class="rush_event_title">
	     9:00am - Paintball + Pizza
            </h4>
            <div class="rush_event_desc">
	     "War does not determine who is right -- only who is left" -Bertrand Russel. "I love pizza; you can't really go wrong with pizza" -Nick Jonas.
	    </div>
            <h4 class="rush_event_title">
	     2:00pm - Nerf Wars
            </h4>
            <div class="rush_event_desc">
	     What's better than a classic Nerf War? A Mansion Nerf War! The Sigma Nu palace is your arena.
	    </div>
            <h4 class="rush_event_title">
	    3:00pm - SkyZone
            </h4>
            <div class="rush_event_desc">
	    Imagine a room covered in trampolines. Now imagine playing dodgeball and basketball in that room. Here's your chance. 
            </div>
	    <h4 class="rush_event_title">
	    6:00pm - Smoothie and Burrito Night
	    </h4>
	    <div class="rush_event_desc">
	    We've got some bomb smoothies and burritos. If you like free food and chilling hard, head on over.
	    </div>
	    <h4 class="rush_event_title">
	    7:00pm - Comedy Club
	    </h4>
	    <div class="rush_event_desc">
	    You'll laugh, you'll cry, you might even be laughed at. Come experience this comedic gem of Cambridge.
	    </div>
            <h3 style="text-align: center">
	    Monday, 9/1/2014
	    </h3>
            <h4 class="rush_event_title">
	     9:00am - Revere Beach
            </h4>
            <div class="rush_event_desc">
	    Get away from MIT and take a breather at the local Revere beach. Come play some beach sports and relax
	    </div>
            <h4 class="rush_event_title">
	     1:00pm - Brunch with Lucci
            </h4>
            <div class="rush_event_desc">
	    Alright, so you've heard people say they've got the "best" food. But they've never met our RA, Luccie. Come by for the best brunch of your life. Seriously. Da BESSSSSS
            </div>
            <h4 class="rush_event_title">
	     3:00pm - Poker Tournament
            </h4>
            <div class="rush_event_desc">
	    You think you can beat the system? Try your hand at winning a pair of Beats by Dre. Winner winner, chicken dinner!
            </div>
	    <h4 class="rush_event_title">
	    5:00pm - Exotic BBQ
	    </h4>
	    <div class="rush_event_desc">
	    We're cooking up bison, gazelle, python, and all sorts of other crazy stuff. Make like Suarez and bite down on some of our unorthodox meat. 
	    </div>
	    <h4 class="rush_event_title">
	    6:30pm - CTF + Badminton
	    </h4>
	    <div class="rush_event_desc">
	    Play an epic game of capture the flag in Boston's own Fens. We've also got some badminton if you're feeling exotic.
	    </div> 
	    <h4 class="rush_event_title">
	    8:00pm - Magic The Gathering Draft
	    </h4>
	    <div class="rush_event_desc">
	    We've all got our guilty pleasures. Join us for a Magic the Gathering draft, and you'll get to keep your deck!
	    </div>
            <h3 style="text-align: center">
	    Tuesday, 9/2/2014
	    </h3>
            <h4 class="rush_event_title">
	      2:00pm - Frisbee in the Fens
            </h4>
            <div class="rush_event_desc">
	    Discover some of the great sights of Boston and play a nice game of ultimate frisbee in the Fens (conveniently located next to Fenway Park)
            </div>
            <h4 class="rush_event_title">
	      4:00pm - Bowling with the Bros
            </h4>
            <div class="rush_event_desc">
	    Honestly, the classiest bowling experience of your life. You won't want to miss out on the beautiful Jillian's bowling alley
            </div>
            <h4 class="rush_event_title">
	      7:00pm - Oasis Dinner
            </h4>
            <div class="rush_event_desc">
	    Free (amazing) Brazillian food!
            </div>
            <h4 class="rush_event_title">
	      8:00pm - Prudential Skywalk
            </h4>
            <div class="rush_event_desc">
	    Come overlook Boston atop one of the tallest buildings in the country, the Prudential Tower. You won't want to miss this view!
            </div>
            <h3 style="text-align: center">
	     Wednesday, 9/3/2014
	    </h3>
            <h4 class="rush_event_title">
	      5:00pm - Stoopin'
            </h4>
            <div class="rush_event_desc">
	    There's no better way to end your first day of classes than with burgers and brats
            </div>
            <h4 class="rush_event_title">
	      7:00pm - Blue Man Group (Invite-only)
            </h4>
            <div class="rush_event_desc">
	    Join us as we go to the Charles Playhouse and enjoy a show from the critically acclaimed Blue Man Group.
            </div> 
            <h3 style="text-align: center">
	     Thursday, 9/4/2014
	    </h3>
            <h4 class="rush_event_title">
	      5:00pm - MAC Court Indoor Soccer
            </h4>
            <div class="rush_event_desc">
	    Haven't had enough futbol? Join the men of Sigma Nu for an indoor soccer competition.
            </div>
            <h4 class="rush_event_title">
	      7:00pm - Fancy Dinner (Invite Only)
            </h4>
            <div class="rush_event_desc">
	    Dress in your Sunday best and join us in an outing to the North End.
            </div>
            <h3 style="text-align: center">
	     Friday, 9/5/2014
	    </h3>
            <h4 class="rush_event_title">
	      5:00pm - Bid Dinner
            </h4>
            <div class="rush_event_desc">
            </div>
        </div>
     <% end %>
  </div>
  <div style="clear:both"></div>
</div>

<%= partial :public_footer %>
